body {
  margin: 0;
  background-color:rgb(255, 123, 0,0.3);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video::-webkit-media-controls {
  display: none;
  max-width: 100%;
}

code {
 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-player{
  background-color: rgba(255, 94, 0, 0.3);
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  margin: 100px auto ;
  padding: 10px;
  text-align: center; 
  position: relative;
}


.play{
  margin: auto 30px;
  background:  rgba(255, 94, 0, 0);
  border:0px;
  padding:5px;
}
.play:hover{
 

  background:  rgba(255, 94, 0, 0.3);
  border:0px;
}
.skip-back{
  
  background:  rgba(255, 94, 0, 0);
  border:0px;
}
.skip-back:hover{
  background:  rgba(255, 94, 0, 0.3);
  border:0px;
}
.skip-forward{
  background:  rgba(255, 94, 0, 0);
  border:0px;
}
.skip-forward:hover{
  background:  rgba(255, 94, 0, 0.3);
  border:0px;
}

.player-photo{
  height:200px;
  border-radius: 100px;
}
